.categoriesSwiper{
  .container{
    max-width: 1220px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    row-gap: 30px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    @include text($familyLena,normal,400,48px,48px,#314E57);
  }
  &__navBtns{
    display: flex;
    column-gap: 12.27px;
    button{
      cursor: pointer;
      background: transparent;
      z-index: 1;
    }
  }
  &__bottom{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }


  &__product{
    width: 289px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &-img{
      background: transparent;
      width: 60%;
      img{
        width: 100%;
      }
    }
    &-title{
      display: flex;
      padding-top:26px;
      margin-bottom:auto;
      @include text("Rubik",normal,600,25px,30px,$color01);
    }
  }
  &__btn{
    display: flex;
    column-gap: 5px;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    @include text("Rubik",normal,400,18px,21px,#8C8C8C);
    padding: 15px 14px ;
    cursor: pointer;
    z-index: 1;
  }
}
.swiper-wrapper{
  .swiper-slide:nth-child(4n+1) .categoriesSwiper__product{
    background: #8D5EA6;
    z-index: 0;
    &:after{
      position: absolute;
      content: url("../img/index/categoriesSwiper/Leaf1.png");
      transform:rotate(10deg);
      bottom: -40%;
      z-index: -1;
    }
  }
  .swiper-slide:nth-child(4n+2) .categoriesSwiper__product{
    background: #4C2621;
    z-index: 0;
    &:after{
      position: absolute;
      content: url("../img/index/categoriesSwiper/Leaf2.png");
      bottom: -70%;
      z-index: -1;
    }
  }
  .swiper-slide:nth-child(4n+3) .categoriesSwiper__product{
    background: #300050;
    z-index: 0;
    &:after{
      position: absolute;
      content: url("../img/index/categoriesSwiper/Leaf1.png");
      transform:rotate(10deg);
      bottom: -40%;
      z-index: -1;
    }
  }
  .swiper-slide:nth-child(4n+4) .categoriesSwiper__product{
    background: #222223;
    z-index: 0;
    &:after{
      position: absolute;
      content: url("../img/index/categoriesSwiper/Leaf2.png");
      bottom: -70%;
      z-index: -1;
    }
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}